/* +++++++++ PROJECT +++++++ */
#project-heading {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 60px;
}

#project-title {
    font-size: 6em;
    font-weight: bold;
    color: #FDFDFD;
}

#project-holder {
    padding: 50px 0;
}

#project-sub-headline {
    font-family: 'Scope One', serif;
    font-size: 1.5em;
    margin-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #FDFDFD
}

/* +++++++++ CUE +++++++++ */
#cue-heading {
    padding-top: 100px;
    padding-bottom: 30px;
    margin-left: 60px;
}

#cue-title {
    font-size: 6em;
    font-weight: bold;
}

#nav-top {
    margin-left: 60px;
    padding-bottom: 0px;
    padding-top: 40px;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cue-headline {
    font-family: 'Scope One', serif;
    font-size: 1.5em;
    margin-left: 100px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

#cue-sub-headline {
    font-family: 'Scope One', serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 100px;
    font-weight: bold;
    padding-bottom: 70px;
    margin-bottom: 0px;
    width: 50%;
}

#cue-description {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#rhino-padding {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#cue-paragraph-1 {
    width: 30%;
    margin-right: 100px;
    font-size: 1.47em;
}

.black-border-bottom {
    border-bottom: 10px solid #080808;
    width: 95%;
    margin: 0 auto;
}

#cue-second-section {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

#cue-tech h1 {
    font-size: 4em;
    line-height: 1.25em;
    margin-left: 40px;
    font-weight: bold;
}

#cue-try-it h1 {
    font-size: 4em;
    line-height: 1.25em;
    margin-left: 40px;
    font-weight: bold;
}

#tech-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

#cue-prototype {
    width: 300px;
    text-align: center;
    line-height: 200%;
}

#cue-react {
    width: 300px;
    text-align: center;
    line-height: 200%;
}

#cue-lessons {
    width: 300px;
    text-align: center;
    line-height: 200%;
}

#cue-btn {
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FDFDFD;
    color: #080808;
    border: 3px solid #080808;
    padding: 15px 30px;
    margin-bottom: 60px;
    transition-duration: 0.7s;
}
#cue-btn:hover {
    background-color: #080808;
    color:  #FDFDFD;
}

#tech-flex h5 {
    font-size: 1.1em;
}

#project-phone {
    height: 350px;
    margin-right: 90px;
}

#rhino-one-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.47em;
}

#rhino-one {
    width: 40%;
    margin-right: 80px;
}

#rhino-two {
    width: 50%;
}
/* #rhino-two-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1500px;
    font-size: 1.47em;
    text-align: left;
} */

.research-bullet {
    margin-left: 40px;
}

#font-standard {
    font-size: 1.47em;
}

#SWOT-1 {
    margin-right: 50px;
    margin-bottom: 30px;
}

#interview-spacing {
    margin: 30px 0 30px 0;
}

#flex-interview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#interview-margin {
    margin-right: 30px;
}

#margin-protoptype {
    display: flex;
    align-items: center;
    margin-right: 100px;
}