#black {
    background-color: #080808;
}

.black {
    background-color: #080808;
}

.white-bkgd {
    background-color: #FDFDFD;
}

.gray-bkg {
    background-color: lightgray;
}

.lightblue {
    background-color: #BBF2FE;
}

/* UPPER NAV */
#upper-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#upper-right {
    margin-right: 50px;
}

#upper-left {
    width: 700px;
}

.margin-right {
    margin-right: 60px;
}

#upper-left-nav {
    background-color: #080808;
    margin-bottom: 100px;
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heading-section {
    margin-bottom: 315px;
    margin-left: 60px;
}

.head-caption {
    font-family: 'Montserrat', sans-serif;
    color: #FDFDFD;
}

#social-links { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 550px;
}

.social-link {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FDFDFD;
    margin-right: 30px;
    margin-left: 20px;
}

#right-img {
    max-height: 745px;
}

#logo {
    max-height: 70px;
}


/* MENU */

#menu {
    max-height: 30px;
}

#menu-btn {
    margin-right: 30px;
    margin-left: 100px;
}
/* Dropdown Button */
.dropbtn {
    /* padding: 16px; */
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: #FDFDFD;
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #BBF2FE;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .black {background-color: #080808;}

.dropdown:hover .lightblue {background-color: #BBF2FE}




/* ABOUT / FEATURED SECTION */

/* ABOUT */

#about-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#about {
    font-family: 'Scope One', serif;
    font-style: italic;
}

#about-btn {
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #080808;
    background-color: #FDFDFD;
    border: 3px solid #080808;
    padding: 15px 30px;
    transition-duration: 0.7s;
}

#about-btn:hover {
    background-color: #080808;
    color:  #FDFDFD;
}

#dog {
    max-width: 110px;
    margin-bottom: 20px;
}

/* FEATURED */

#featured-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 100px;
    padding-bottom: 20px;
    text-align: left; 
}

#featured-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #BBF2FE;
    padding: 40px 0 40px 40px; 
}

#project-description {
    max-width: 450px;
    text-align: left;
}

#project-photo {
    max-width:550px;
}

#featured-h2 {
    font-weight: bold;
}

#projects-btn {
    margin-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FDFDFD;
    color: #080808;
    border: 3px solid #080808;
    padding: 15px 30px;
    margin-bottom: 60px;
    transition-duration: 0.7s;
}
#projects-btn:hover {
    background-color: #080808;
    color:  #FDFDFD;
}

#project-btn {
    margin-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #080808;
    background-color: #BBF2FE;
    border: 3px solid #080808;
    padding: 15px 30px;
    margin-bottom: 60px;
    transition-duration: 0.7s;
}


#project-btn:hover {
    background-color: #080808;
    color:  #FDFDFD;
}

#featured {
    text-align: center;
}

/* COOL BOX MOVEMENT */
.box {
    position: relative;
    display: inline-block;
    width: 1050px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  
  .box:hover::after {
      opacity: 1;
  }
  
  /* END COOL BOX MOVEMENT */


  /* CONTACT */

  #heading-contact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color:#FDFDFD;
    padding-top: 80px;
    margin-left: 10px;
  }

  .contact-info {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;
    color: #FDFDFD;
  }

  #index-contact {
      margin-bottom: 40px;
  }


  /* COMING SOON */

  #flex-coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
  }

  #coming-soon {
    font-family: 'Montserrat', sans-serif;
    font-size: 7em;
    font-weight: bold;
  }

#contact-coming-soon {
    margin-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FDFDFD;
    color: #080808;
    border: 3px solid #080808;
    padding: 15px 30px;
    margin-bottom: 60px;
    transition-duration: 0.7s;
  }

#contact-coming-soon:hover {
    background-color: #080808;
    color:  #FDFDFD;
}

#dog-coming-soon {
    max-width: 110px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

#home-btn {
    margin-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FDFDFD;
    color: #080808;
    border: 3px solid #080808;
    padding: 15px 30px;
    margin-bottom: 60px;
    transition-duration: 0.7s;
    margin-right: 5px;
  }

#home-btn:hover {
    background-color: #080808;
    color:  #FDFDFD;
}

.coming-soon-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#a-email {
    color: #FDFDFD;
}

#skills-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* ======== MEDIA QUERY ======== */
@media (min-width: 0px) and (max-width: 767px) {
.sm-hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#about-name {
    font-size: 2.5em;
}

#skills-container {
    margin: 0 auto;
}

#social-links {
    max-width: 300px;
    line-height: 40px;
}

#heading-section {
    margin-bottom: 250px;
}
}